<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inkhornsolutions.riderapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.inkhornsolutions.riderapp.CustomerCall"></activity>
        <activity android:name="com.inkhornsolutions.riderapp.Orders" >

        </activity>
        <activity android:name="com.inkhornsolutions.riderapp.New_Pin" />
        <activity android:name="com.inkhornsolutions.riderapp.Verify_Phone_For_Pin" />
        <activity android:name="com.inkhornsolutions.riderapp.Password_Creation" />
        <activity android:name="com.inkhornsolutions.riderapp.VerifyPhoneNumber" />
        <activity android:name="com.inkhornsolutions.riderapp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inkhornsolutions.riderapp.Profile"
            android:parentActivityName="com.inkhornsolutions.riderapp.MainActivity" />
        <activity android:name="com.inkhornsolutions.riderapp.SignUp" />
        <activity android:name="com.inkhornsolutions.riderapp.ForgotPassword" />
        <activity
            android:name="com.inkhornsolutions.riderapp.ViewHistoryOnMap"
            android:parentActivityName="com.inkhornsolutions.riderapp.History" />
        <activity
            android:name="com.inkhornsolutions.riderapp.History"
            android:label="@string/title_activity_DocumentView"
            android:parentActivityName="com.inkhornsolutions.riderapp.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.inkhornsolutions.riderapp.LoginActivity" />
        <activity
            android:name="com.inkhornsolutions.riderapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.inkhornsolutions.riderapp.Service.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.inkhornsolutions.riderapp.LocationService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <receiver
            android:name="com.inkhornsolutions.riderapp.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Background-Service" />
            </intent-filter>
        </receiver>
    </application>

</manifest>