<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboard1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Password_Creation"></activity>
        <activity android:name=".VerifyPhoneNumber"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SignUp" android:parentActivityName=".LoginActivity"></activity>
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".ViewHistoryOnMap" android:parentActivityName=".History"></activity>
        <activity android:name=".History" android:label="@string/title_activity_DocumentView" android:parentActivityName=".MainActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Route" android:label="@string/title_activity_route"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".LocationService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Background-Service" />
            </intent-filter>
        </receiver>
    </application>

</manifest>